/month-card.view.js
/month-card.view.js.map
/app-view1.view.js
/app-view1.view.js.map
/app-view2.view.js
/app-view2.view.js.map
/image-manager.view.js
/image-manager.view.js.map
/data-manager.view.js
/data-manager.view.js.map
