<div class="box box-primary box-labelbox">
	<div class="box-header with-border">
		<!-- <h3 class="box-title pull-left">圖片列表</h3> -->
		<div class="input-group pull-left col-md-3 col-sm-8 col-xs-8">
			<input type="text" name="q" class="form-control" placeholder="搜尋圖片" />
			<span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                	<i class="fa fa-search"></i>
                </button>
			</span>
        </div>
		<button type="button" class="btn btn-primary btn-sm pull-right">新增</button>
	</div><!-- /.box-header -->
	<div class="box-body">
		<div class="box-label">
			<h3 class="label-title label-primary">分類標簽</h3>
			<div class="label-body">
				<button type="button" class="btn btn-primary btn-sm active">全部</button>
				<button *ngFor="let item of labelList" type="button" class="btn btn-success btn-sm">{{item.text}}</button>
			</div>
		</div>
		<div class="box-content">
			<div *ngFor="let items of imageList" class="row">
				<div *ngFor="let item of items" class="col-md-15">
					<div class="thumbnail">
						<div class="action" (click)="editImage(item)">
							<i class="fa fa-edit"></i>
						</div>
						<div class="image">
							<img [src]="item.url" [alt]="item.title" [title]="item.title" />
						</div>
						<div class="caption">
							<p>{{item.desc}}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div><!-- /.box-body -->
</div>
<template ngbModalContainer></template>