<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<Configuration monitorInterval="60" status="DEBUG">
	<Properties>
		<Property name="web.name">${sys:web.name}</Property>
		<Property name="web.package">com.maplebox.nail</Property>
		<Property name="log.dir">${sys:catalina.home}/logs/${web.name}</Property>
		<Property name="pattern">%d{yyyy/MM/dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Property>
		<Property name="file.pattern">%d{yyyy-MM-dd}-%i</Property>
		<Property name="app.log.level">${sys:app.log.level}</Property>
		<Property name="console.log.level">${sys:console.log.level}</Property>
		<Property name="root.log.level">WARN</Property>
	</Properties>
	
	<Appenders>
		<Console name="STDOUT" target="SYSTEM_OUT">
			<ThresholdFilter level="${console.log.level}" />
			<PatternLayout pattern="${pattern}"/>
	    </Console>
	    <RollingFile name="FILE" fileName="${log.dir}/root.log"
                     filePattern="${log.dir}/root-${file.pattern}.log">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
        <RollingFile name="EXP_FILE" fileName="${log.dir}/exp.log"
                     filePattern="${log.dir}/exp-${file.pattern}.log">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
        <RollingFile name="TASK_FILE" fileName="${log.dir}/task.log"
                     filePattern="${log.dir}/task-${file.pattern}.log">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
        <RollingFile name="EMAIL_FILE" fileName="${log.dir}/email.log"
                     filePattern="${log.dir}/email-${file.pattern}.log">
            <PatternLayout>
                <Pattern>${pattern}</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="100 MB" />
            </Policies>
            <DefaultRolloverStrategy max="20" />
        </RollingFile>
	</Appenders>
	
	<Loggers>
		<Logger name="${web.package}.controller.advice.ControllerHandler" level="${app.log.level}" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="EXP_FILE" />
		</Logger>
		
		<Logger name="${web.package}.task" level="${app.log.level}" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="TASK_FILE" />
		</Logger>
		
		<Logger name="${web.package}.email" level="${app.log.level}" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="EMAIL_FILE" />
		</Logger>
		
		<Logger name="${web.package}" level="${app.log.level}" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="FILE" />
		</Logger>
		
		<Root level="${root.log.level}" additivity="false">
			<AppenderRef ref="STDOUT" />
			<AppenderRef ref="FILE" />
		</Root>
	</Loggers>
</Configuration>